[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
cloudinary = "*"
whitenoise = "*"
django-import-export = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.9"
